.Loanstatement_container{
    width: 80%; 
    height: auto;
    margin-top: 2%;
    margin-left: 10%;
    overflow: auto;
}

  table tr, table th, table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  table{
    width: 100%;
    position: relative;
  }

  table th{
    background-color: gray;
    position: sticky;
  }
